img {
    width: 200px;
}
body {
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 400;
   font-style: normal;/*These are from Google Fonts:)*/
    text-align: center;
    background: rgb(247, 247, 198);
    color: purple;
}
a {
  text-decoration:none;
  color: rgb(94, 167, 230);
}
a:focus {
  color:rgb(2, 105, 184);
}
a:hover {
  color:rgb(2, 105, 184);
}

.daohanglan {
  background-color: aliceblue;
  list-style-type: none;
  display:flex;
  justify-content: center;

  
}
.navlist{
  background-color: aliceblue;
  font-size: 30px;
  display: flex;
  margin: 0 10px;
}

.navlink{
  display: block;
}
.smallicon{
  width: 80px;
  height: 80px;
}